*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
}  
.logo {
    padding: 15px;
    border-right: 1px solid rgba(128, 128, 128, 0.178);
    margin-left: 50px;
}

.top-bar{
    height: 90px;
    
    /* line-height: 90px; */
}
.nav-bar{
    max-width: 1660px;
    margin:0 auto;
    margin-left:50px ;
}
/* .float-left{
    float: left;
} */
/* .clearfix::after{

    display: table;
    content:"";
    clear: both;

} */
.list{
    display: inline-block;
    margin-top:10px ;
    margin-bottom: 10px;
    margin-right: 15px;
    color: rgba(128, 128, 128, 0.589);
    
}
ul{
    margin-top: 30px;
}
nav{
    text-decoration: none;
}
.background-image{
    background-image:url(img/banner.jpg) ;
    background-size: cover;
    border-radius:30px;
}

.h-70{
    height: 700px;
}

.padding-top{
    padding-top:520px;
    margin-left:50px;
}
.color-white{
    color: white;
}
main{
    margin-left: 50px;
     margin-right: 50px;
}

